@import "/src/assets/variables";

.info {
    margin-top: 2.5rem;

    &__title {
        margin: 0 0 0.5rem;
        font-size: 2rem;
        font-weight: bolder;
    }

    &__sub-title {
        margin: 0;
        font-size: 2rem;
        font-weight: bolder;
    }

    &__description {
        margin-top: 16px;
    }
}

@media (min-width: $mobile-width) {
    .info {
        margin-left: 4rem;
    }
}