@import "/src/assets/variables";

h1 {
    font-weight: bolder;
    font-size: 2rem;
}

h2 {
    font-weight: bolder;
    font-size: 1.3rem;
}

@media (min-width: $mobile-width) {
    .info {
        margin-left: 3rem;
    }
}
