@import "/src/assets/variables";

.main-container .event-wrapper-container>.event>.event-container>.event-date-container,
.main-container .event-wrapper-container>.event>.event-container>.event-divider-container,
.main-container .hour.right {
    display: none;
    background-color: red;
}

.main-container .center-inner.no-period-key>.center-icon-container>.icon {
    background-color: $primary-color;
}

.main-container .center-inner>.period-container {
    background-color: $secondary-color;
}