@import "/src/assets/variables";

.skills {
    margin: 0 1rem 4rem;

    &__item {
        font-weight: bold;
    }

    &__title {
        font-weight: bolder;
        font-size: 1.5rem;
        margin: 1rem 0;
    }
}

@media (min-width: $mobile-width) {
    .skills {
        max-width: 80%;
        margin: 0 auto 4rem;
    }
}
