@import "/src/assets/variables";

.avatar {

    &__frame {
        width: 16rem;
        height: 16rem;
        border: solid 1rem $secondary-color;
        position: absolute;
        transform: translate(1.8rem, 1.8rem);
    }

    &__picture {
        border: solid 1rem $primary-color;
        width: 16rem;
        height: 16rem;
        object-fit: cover;
    }
}